#btnDataTable{
    margin: 5px; 
}
.delete {
    background-color: #ec4040;
    border: 1px solid #ec4040;
}
.delete:hover {
    background-color: red;
    border: 1px solid red;
}
#ph, #seriesTableph {
    height: 30%;
}